<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/generalLayout :: head(pageTitle='Rejestracja')">
</head>
<body>
<div th:switch="${currentUser!=null}">
    <div th:case="false" th:include="layout/unloggedLayout :: toolbar"></div>
    <div th:case="true" th:include="layout/loggedLayout :: toolbar"></div>
</div>
<div id="fullscreen_bg" class="fullscreen_bg"/>

<header>
    <link href="css/register.css" rel="stylesheet">
    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rejestracja</h3>
                    </div>
                    <div class="panel-body">
                        <p style="color: #333333;">
                            Dziękujemy za rejestrację. Na podany adres email wysłaliśmy link potwierdzający.
                        </p>
                        <a href="/login" class="btn btn-default">Zaloguj się</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

</body>
</html>